<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <p id="info">Cubes left:</p>
    <canvas id="gameCanvas"></canvas>
  </body>
</html>
